<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#031F2E">
    <meta name="description" content="This is a rep Counter">
    <link rel="stylesheet" href="sytles.css" />
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="Images//db.png">
    <title>Rep Counter</title>
  </head>
  <body>
    <h1>Rep Counter</h1>

    <div class="container">
      <% exercise.forEach((exercise, id) => { id += 1; %>
      <div class="wrapper" id="Wrapper<%= exercise._id %>">
        <div class="Exercise">
          <p id="name"><%= exercise.name %></p>

          <div class="Goals">
            <p>Goal: <%= exercise.goal %></p>
          </div>
        </div>

        <div class="wrapper2">
          <p><span id="reps<%= exercise._id %>">0</span> rep(s)</p>

          <div class="incrementors">
            <button
              onclick="increment(true, `<%= exercise._id %>`, `<%= exercise.goal %>`, `<%= exercise.name %>`)"
            >
              +
            </button>
            <button
              onclick="increment(false, `<%= exercise._id %>`, `<%= exercise.goal %>`, `<%= exercise.name %>`)"
            >
              -
            </button>
          </div>
        </div>
        <button class="delete" onclick="deleteExercise('<%= exercise._id %>')">
          X
        </button>
      </div>
      <% }); %>
    </div>

    <form action="/" method="post" id="myForm">
      <input
        type="text"
        name="name"
        id="ExerciseI"
        placeholder="Name of Exercise"
        required
      />
      <input
        type="number"
        name="goal"
        id="GoalI"
        placeholder="Rep Goal"
        required
      />
      <input type="submit" value="New" onclick="reloader(true)" />
    </form>

    <script src="Index.js">
      const encodedData = "<%= JSON.stringify(exercise) %>";
      const decodedData = decodeEntities(encodedData);
      const exerciseData = JSON.parse(decodedData);

      function decodeEntities(encodedString) {
        const textarea = document.createElement("textarea");
        textarea.innerHTML = encodedString;
        return textarea.value;
      }

      if (window.performance.navigation.type === 1) {
        exerciseData.forEach((element, id) => {
          id += 1;
          document.getElementById(`reps${element._id}`).innerText =
            localStorage.getItem(`increment${element._id}`) || 0;
          let Wrapper = document.getElementById(`Wrapper${element._id}`);
          Wrapper.classList.add(localStorage.getItem(`Wrapper${element._id}`));
        });
      } else {
        console.log("Page was not reloaded");
      }

      function increment(state, id, goal, name) {
        let inc;
        if (state) {
          inc = 5;
        } else {
          inc = -5;
        }

        const reps = document.getElementById(`reps${id}`).innerText;
        let increment = Number(reps);

        if ((increment >= goal - 5) & state) {
          const element = document.getElementById(`Wrapper${id}`);

          if (increment == goal - 5) {
            alert(`You have met your goal of ${goal} reps in ${name}`);
            localStorage.setItem(`Wrapper${id}`, "Completed");
            element.classList.add(localStorage.getItem(`Wrapper${id}`));
          } else {
            element.classList.remove("Completed");
            localStorage.removeItem(`Wrapper${id}`);
          }

          increment += 5;
          if ((increment == Number(goal) + 5) & state) {
            alert("GET READY FOR THE NEXT SET!!!");
            return (
              (document.getElementById(`reps${id}`).innerText = 0),
              localStorage.setItem(
                `increment${id}`,
                document.getElementById(`reps${id}`).innerText
              )
            );
          }
        } else if (increment > 0 || state == true) {
          increment += inc;
        } else {
          return increment;
        }

        document.getElementById(`reps${id}`).innerText = increment;
        localStorage.setItem(
          `increment${id}`,
          document.getElementById(`reps${id}`).innerText
        );
      }

      const myForm = document.getElementById("myForm");

      function handleSubmit(event) {
        event.preventDefault();
      }

      myForm.addEventListener("submit", handleSubmit);

      function reloader(state) {
        const nameInput = document.getElementById("ExerciseI").value;
        const goalInput = document.getElementById("GoalI").value;

        if (nameInput !== "" && goalInput !== "") {
          myForm.removeEventListener("submit", handleSubmit);
          reload(true);
        }
      }

      async function deleteExercise(id) {
        console.log(localStorage.removeItem(`increment${id}`));
        try {
          reload(true);
          const response = await fetch(`/delete/${id}`, { method: "DELETE" });

          if (response.ok) {
            console.log("Deleted Exercise:", response.statusText);
          } else {
            console.error("Error:", response.statusText);
          }
        } catch (error) {
          console.error("Network error:", error.message);
        }
      }

      function reload(state) {
        setTimeout((state) => {
          location.reload(state);
        }, 1000);
      }
    </script>
  </body>
</html>
